# Atualiza o pip (opcional, mas pode ajudar em alguns casos)
pip install --upgrade pip

# Flask para criar a API
Flask==2.2.2

# PyTube para baixar vídeos do YouTube
git+https://github.com/pytube/pytube.git

# Outras dependências caso precise
requests==2.28.1
